<!DOCTYPE html>

<title>BucketList</title>

<div>
    {{!-- NAVBAR --}}
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button fixed-top" style="height: 55px;">
        <div class="container">
            <a class="navbar-brand BL" href="/landing" style="font-family: Acme, sans-serif;">BucketList</a>
            <div class="navbar-text actions collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/landing#about">About</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/landing#features">Features</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/landing#team">Team</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/feed">Feed</a></li>
                </ul>
                    <button class="btn btn-light action-button" id="openLogin" style="height: 36px;padding-top: 5px; margin-right:15px">Log In</button> <br>
                    <button class="btn btn-light action-button" id="openRegister" style="background-color:#2d8183;height: 36px;padding-top: 5px;">Register</button>
            </div>
        </div>
    </nav>
</div>

    <div data-bs-parallax-bg="true" style="margin-top:-45px;background-image:url(https://images.unsplash.com/photo-1542359649-31e03cd4d909?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=667&amp;q=80);background-position:center;background-size:cover;">
        <h1 class="display-3 text-center d-lg-flex justify-content-lg-center align-items-lg-center" style="padding-top: 107px;color: rgb(0,0,0);font-size: 80px;font-family: Acme, sans-serif;">BucketList</h1>
        <p class="text-center" style="color: rgb(157, 157, 157);font-size: 20px;"><strong>The place to gather ideas for things to accomplish in life.</strong></p><br>
    </div>

<div>
    <div id="homeFeed" style="padding:80px">
    {{#each tasks}}
    <div class="shadow p-3 mb-5 bg-white rounded d-inline-block homeCard" style="width: 30%; margin: 15px;padding: 30px; padding-bottom: 30px" id="openLogin">
        <label style="cursor: pointer;font-size:20px;padding-bottom:10px;" title="View user profile">
            <strong>{{username}}</strong></label>
        
        <label style="padding-left:10px;font-size:16px;font-style: italic;color:rgb(111, 144, 145)"> Posted {{dateAdded}}</label> <br>
       
        <div style="padding-left: 20px;">
            <label style="cursor: default; font-size: 18px;font-weight:500" title="View task details">
                {{title}}</label>  <br> <br> <br>
            <label title="View task details" style="font-size: 18px;font-style:italic;margin-top:-5px">{{description}}</label> 
        </div>
        
        <div style="padding-left: 20px;margin-top:20px">
            {{#if isRequested}}
            <i title="Help Requested" style="padding-right:25px" class="request fa fa-question-circle icon fa-lg"></i>
            {{else}}
            <i title="Help Not Requested" style="padding-right:25px" class="request2 fa fa-circle icon fa-lg"></i>
            {{/if}}
        <button id="openLogin" style="background:none;border:none; padding-right: 25px">
            <i title="View comments"  style="color:#2483a3" class="fa fa-comments fa-lg">
            </i>  {{numComments}}</button>
        <button id="openLogin" class="add-task">
                    <i title="Add Task to List" class="fa fa-user-plus fa-lg"></i></button>{{numAdded}}
        </div>
    </div>
    {{/each}}
    </div>
<div>

{{!-- LOGIN --}}
    <div id="login-div" class="login-clean">
        <div class="form-container centerL" style="width:500px; height:500px">
            <div class="closeL"><button id="closeL">&times;</button></div>
            <div>
            <form method="post" style="padding-top: 5px;height: 480px;">
                <div class="illustration"><img src="/assets/img/logo.png" style="width: 120px;height: 120px;">
                    <h2 class="text-center" style="font-family: Delius, cursive;padding-top: 10px;">Welcome!</h2>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="username" id="username" placeholder="Username"><br>
                    <input class="form-control" type="password" name="password" id="password" placeholder="Password">
                    <p id="loginError" class="error"> {{loginError}} </p></div>
                <button id="loginVal" class="btn btn-primary btn-block" type="button" style="padding: 5px;">Log In</button>
                {{!-- <button id="forgotPassword" style="margin-right:620px;margin-top:50px">Forgot password? Click here.</button><br><br> --}}               
            </form>
            </div>
        </div>
    </div>

{{!-- REGISTER --}}
    <div id="register-div" class="login-clean">
        <div class="form-container centerR" style="width:800px; height:500px">
            <div class="closeR"><button id="closeR">&times;</button></div>
        <div>
            <form method="post" style="padding-top: 5px;height: 530px">
                <h2 class="text-center" style="font-family: Delius, cursive;line-height: 38px;margin-top: 20px"><strong>Registration</strong></h2><br>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="First Name" id="rFName"><br>
                    <input class="form-control" type="text" placeholder="Last Name (Optional)" id="rLName"><br>
                    <input class="form-control" type="email" name="email" placeholder="Email" id="rEmail"><br>
                    <input class="form-control" type="text" placeholder="Username" id="rUsername"><br>
                    <input class="form-control" type="password" name="password" placeholder="Password" id="rPass1">
                    {{!-- <input class="form-control" type="password" name="password-repeat" placeholder="Password (repeat)" id="rPass2"> --}}
                    <p id="regError" class="error"> {{regError}} </p></div>
                    <button id="regVal" class="btn btn-primary btn-block" type="button"  style="padding: 5px;">Sign Up</button>
            </form>
        </div>
        </div>
    </div>