<!DOCTYPE html>

<title> {{firstName}} {{lastName}} (@{{username}})</title>

<div class="container">
    <div class="row">
        <div class="col-md-4" style="text-align: center; padding-bottom:10px;">

                <img class="rounded-circle" src="{{{displayPic}}}" style="width: 200px;height: 200px;"><br><br>
                <input id="firstName" type="text" style="width: 40%;font-size: 18px;" placeholder="First Name" value="{{firstName}}">
                <input id="lastName" type="text" style="width: 40%;font-size: 18px;" placeholder="Last Name" value="{{lastName}}"> <br>
                <h1 style="font-size: 20px;color: rgb(93,94,95);">@{{username}}</h1> <br> <br>
                <textarea style="width: 80%;margin-top: -5px;font-size: 18px;" placeholder="Bio" id="bio">{{bio}}</textarea> <br>

                <p id="profileError" class="error"> {{profileError}} </p>
                <button type="button" id="saveProfileBTN" class="btn btn-info add-new"><i class="far fa-edit"></i> Save Changes</button>
                <button type="button" style="border-color:rgb(136, 136, 136);background-color:rgb(136, 136, 136)" onclick="window.location.href = '/profile'" class="btn btn-info add-new"> Cancel </button>
                
            
        </div>
            
            <div class="col-md-8">
                <div>
                    <div class="container">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-4"><h2>  Task <b>List</b></h2></div>
                                    <div class="col-sm-4" align="center8">
                                        <div class="search-box">
                                            <input type="text" id="searchInput" onkeyup="searchTag()" class="form-control" placeholder="Search tags…">
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-4" align="right">
                                    <div>
                                            <button type="button" id="addbtn" disabled class="btn btn-info add-new" data-toggle="collapse" data-target="#addTask"><i class="fa fa-plus"></i> Add Task</button>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            
                            <br>

                            <!-- ADD TASK FORM -->
                            <div class="collapse" id="addTask">
                                <h4 style="padding-bottom: 5px;">Add a new task to your list!</h4>
                                <div class="addTaskContainer">
                                    <form method="post">
                                    <div class="border border-secondary rounded">
                                        <div class="row" style="padding: 10px;">
                                            <div class="col-sm-6">
                                                <input type="text" id="taskTitle"  placeholder="Title..." class="form-control">
                                        </div>
                                        </div>
                                        <div class="row" style="padding: 10px;">
                                            <div class="col">
                                                <textarea class="form-control" rows="5" maxlength="500" id="taskDesc" placeholder="Description" stye="resize:none; width:80%; margin: 5 auto;"></textarea>
                                            </div>
                                        </div>
                                        <div class="row" style="padding: 10px;">
                                            <div class="col-sm-7">
                                                <input type="text" id="tag1"  placeholder="Tag 1" class="form-control" maxlength="50">
                                            </div> <br><br>
                                            <div class="col-sm-7">
                                                <input type="text" id="tag2"  placeholder="Tag 2" class="form-control" maxlength="50">
                                            </div> <br><br>
                                            <div class="col-sm-7">
                                                <input type="text" id="tag3"  placeholder="Tag 3" class="form-control" maxlength="50">
                                            </div>
                                        </div>
                                        <div class="row" style="padding: 10px;">
                                            <div class="col">
                                                <div class="custom-control custom-control-inline">
                                                    <input type="checkbox" style="margin-top:5px; margin-right:3px" id="isRequested">
                                                    <label>Request Help</label>
                                                </div>
                                                <div class="custom-control custom-control-inline">
                                                    <input type="checkbox" style="margin-top:5px; margin-right:3px" id="isPublic">
                                                    <label>Public</label>
                                                </div>
                                            </div>
                                            <p id="addTaskError" class="error"> {{addTaskError}} </p>
                                            <div class="col-sm-4" align="right">
                                                <div>
                                                    <button type="button" id="publishTaskBTN" class="btn btn-info add-new"><i class="fa fa-plus"></i> Publish</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>


                            <table id="myTable" class="table table-hover" style="margin-top: 10px;">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Task</i></th>
                                        <th>Date Added</i></th>
                                        <th></th> 
                                        <th></th>
                                        {{!-- <th></th> --}}
                                    </tr>
                                </thead>

                                <tbody>
                                    {{#each tasks}}
                                    <tr id="{{{taskID}}}">
                                        <td class="marbox">
                                            <button id="completeBTN" class="uncomplete" title="Mark Complete" data-toggle="tooltip"><i class="fa fa-square-o icon fa-lg"></i></button>
                                        </td>

                                        <td class="title" onclick="window.location.href = '/view-task/{{{taskID}}}'">{{title}}</td>
                                        <td class="date">{{dateAdded}}</td>
                                        <td class="marbox">
                                            {{#if isPublic}}
                                            <button disabled id="privateBTN" class="view" title="Public Task" data-toggle="tooltip"><i class="fa fa-eye icon fa-lg"></i></button>
                                            {{else}}
                                            <button disabled id="publicBTN" class="view" title="Private Task" data-toggle="tooltip"><i class="fa fa-eye-slash icon fa-lg"></i></button>
                                            {{/if}}
                                        </td>

                                        <td class="marbox">
                                            <button disabled id="deleteBTN" class="delete" title="Delete" data-toggle="tooltip" color=""><i class="fas fa-trash-alt icon fa-lg"></i></button>
                                        </td>
                                    </tr>
                                   {{/each}}

                                   {{#each done}}
                                    <tr id="{{{taskID}}}">
                                        <td class="marbox">
                                            <button disabled id="uncompleteBTN" class="complete" title="Mark Complete" data-toggle="tooltip"><i class="fa fa-check-square icon fa-lg"></i></button>
                                        </td>

                                        <td onclick="window.location.href = '/view-task/{{{taskID}}}'" style="color:grey" class="title">{{title}}</td>
                                        <td style="color:grey" class="date">{{dateAdded}}</td>
                                        <td class="marbox">
                                            {{#if isPublic}}
                                            <button disabled id="privateBTN" class="unview" title="Public Task" data-toggle="tooltip"><i class="fa fa-eye icon fa-lg"></i></button>
                                            {{else}}
                                            <button disabled id="publicBTN" class="unview" title="Private Task" data-toggle="tooltip"><i class="fa fa-eye-slash icon fa-lg"></i></button>
                                            {{/if}}
                                        </td>

                                        <td class="marbox">
                                            <button disabled id="deleteBTN" class="undelete" title="Delete" data-toggle="tooltip" color=""><i class="fas fa-trash-alt icon fa-lg"></i></button>
                                        </td>
                                    </tr>
                                   {{/each}}
                                </tbody>
                            </table>
                          
                        </div>
                    </div>
                </div>
                
            </div>
    </div> <br>
</div>